body{
    background-image: url('../images/pexels-polina-tankilevitch-4109744.jpg');
    background-size: cover;
    background-position-y: -100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    color: #000;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
}

section{
    
}

header {
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

header:hover{
    background-color: rgba(255, 255, 255,1);
}

nav{
    display: flex;
    justify-content:  space-between;
    justify-items: center;
    align-items: center;
}

.search > li:first-child{
    position: relative;
}

.search > input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}



.search > i {
    position: absolute;
    
    
}


#logo  img{
    max-width: 200px;
    height: auto;
}

#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-menu li{
    position: relative;
}

#main-menu li a{
    color: #000000;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

#main-menu ul.sub-menu{
    position: absolute;
    background-color: white;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #f8f8f8;
    display: none;
    z-index: 1;
    transition: 0.5s;
    
}

#main-menu li:hover>ul.sub-menu{
    display: block;
    
}

#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #f8f8f8;
    left: 0;
}

#main-menu ul.sub-menu li:hover>a{
    border-bottom:  1px solid rgb(255, 153, 1);
    
}

#main-menu ul.sub-menu li:last-child a{
    border: none;
}

#main-menu ul.sub-menu ul.sub-menu {
    left: 200px;
    top: -15px
}

#slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.5s;
    
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .dot{
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
  }

  .dot.active{
    background-color: #333;
  }









  footer{
    text-align: center;
    background-color: #ffffff;
  }

.footer-top ul{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
    
  }

.footer-top img{
    height: 50px;
}

.footer-top li{
    padding: 0px 12px;
    position: relative;
}

.footer-top li a{
    font-weight: bold;
}

.footer-top li::after{
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-top li:last-child::after{
    display: none;
}

.footer-top li:last-child a{
    margin-right: 12px;
    color: #575757;
}

  